name: Continuous Integration

on:
  workflow_dispatch:
  push:

jobs:

  build-release:
    strategy:
      matrix:
        # https://github.com/actions/virtual-environments
        os: [macos-13, ubuntu-24.04]
    runs-on: ${{ matrix.os }}
    steps:
        - uses: actions/checkout@v5
        - uses: fwal/setup-swift@v2
        - name: Echo Swift version
          run: swift --version
        - name: Check a Release build
          run: swift build --disable-automatic-resolution -c release

  run-tests:
    strategy:
      matrix:
        swift-version: ['5.10', '6.0', '6.1']
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: fwal/setup-swift@v2
        with:
          swift-version: ${{ matrix.swift-version }}
      - name: Echo Swift version
        run: swift --version
      - name: Test
        run: swift test
