name: Continuous Integration

on:
  workflow_dispatch:
  push:

jobs:

  build-release:
    strategy:
      matrix:
        # https://github.com/actions/virtual-environments
        os: [macos-15, ubuntu-24.04]
    runs-on: ${{ matrix.os }}
    steps:
        - uses: actions/checkout@v6
        - uses: swift-actions/setup-swift@v3
        - name: Echo Swift version
          run: swift --version
        - name: Check a Release build
          run: swift build --disable-automatic-resolution -c release

  run-tests:
    strategy:
      matrix:
        swift-version: ['6.0', '6.1', '6.2']
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: swift-actions/setup-swift@v3
        with:
          swift-version: ${{ matrix.swift-version }}
      - name: Echo Swift version
        run: swift --version
      - name: Test
        run: swift test
